/* 3.3 product-area */

.top-title {
	h3 {
		font-size: 17px;
		font-weight: bold;
		font-style: normal;
		text-align: left;
		letter-spacing: 2.25px;
		color: #171725;
		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid #2c405a;
	}
}

.ps__rail-x {
	display: none !important;
}

.product-wrap {
	max-height: 740px;
	padding-right: 20px;

	@media(max-width:1680px) {
		max-height: 690px;
	}

	@media(max-width:1440px) {
		max-height: 660px;
		padding-right: 10px;
	}

	.product-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -7.5px;

		.product-item-wrap {
			width: 16.66%;
			padding: 0 7.5px;

			@media(max-width:1600px) {
				width: 20%;
			}

			@media(max-width:1399px) {
				width: 25%;
			}

			@media(max-width:1199px) {
				width: 33.33%;
			}

			@media(max-width:767px) {
				width: 50%;
			}

			@media(max-width:500px) {
				width: 100%;
			}

		}
	}
}

.ps__thumb-y {
	background-color: $theme-primary-color !important;
}

.product-area {
	border: 1px solid #707070;
	border-radius: 8px;
	box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.16);
	background: #ffffff;
	padding: 22px;
	padding-top: 18px;

	@media(max-width:1440px) {
		padding: 10px;
	}

	.product-item {
		padding: 10px 20px;
		border-color: #707070;
		border-width: 1px;
		border-style: solid;
		border-radius: 8px;
		filter: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.16));
		background: #ffffff;
		margin-bottom: 12px;
		min-height: 230px;

		@media(max-width:1440px) {
			padding: 5px 5px;
		}

		.product-img {
			text-align: center;

			img {
				max-width: 140px;
			}
		}

		.product-text {
			h3 {
				font-size: 20px;
				font-weight: bold;
				font-style: normal;
				text-align: right;
				letter-spacing: 1.25px;
				color: #171725;
				margin-bottom: 4px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				@media(max-width:1700px) {
					font-size: 16px;
					margin-bottom: 5px;
				}
			}

			ul {
				list-style: none;
				text-align: right;

				li {
					font-size: 11px;
					line-height: 18px;
					font-weight: normal;
					font-style: normal;
					text-align: right;
					color: #171725;
					padding-right: 10px;

					strong {
						color: $theme-primary-color;
						font-size: 20px;

						@media(max-width:1700px) {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}


.card-design {
	border: 1px solid #707070;
	border-radius: 8px;
	box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.16);
	background: #ffffff;
	padding: 22px;
	margin-bottom: 20px;

	@media(max-width:575px) {
		padding: 22px 15px;
	}
}


// product-details

.product-details {
	.product-details-top-text {
		text-align: right;

		h3 {
			font-size: 30px;
			font-weight: bold;
			font-style: normal;
			color: #171725;

			@media(max-width:1700px) {
				font-size: 25px;
			}

			@media(max-width:575px) {
				font-size: 20px;
			}
		}

		span {
			font-size: 17px;
			font-weight: normal;
			font-style: normal;
			color: #171725;
			display: block;
		}

		h4 {
			font-size: 30px;
			font-weight: bold;
			font-style: normal;
			color: #3693d9;
			margin-top: 10px;

			@media(max-width:1440px) {
				font-size: 25px;
				;
				margin-top: 5px;
				margin-bottom: 0;
			}

			@media(max-width:575px) {
				font-size: 20px;
			}
		}
	}

	.product-details-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media(max-width:991px) {
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		.product-details-img {
			max-width: 350px;
			margin-top: -80px;

			@media(max-width:1400px) {
				flex-basis: 50%;
				margin-top: 0;
			}
		}

		.product-details-text {
			text-align: right;
			margin-top: 10px;

			@media(max-width:1400px) {
				flex-basis: 50%;
			}

			ul {
				list-style: none;
				text-align: right;

				li {
					font-size: 17px;
					font-weight: normal;
					font-style: normal;
					text-align: right;
					color: #171725;
					margin-bottom: 0px;

					strong {
						color: $theme-primary-color;
						font-size: 20px;

						@media(max-width:1700px) {
							font-size: 18px;
						}
					}
				}
			}

			p {
				font-size: 21px;
				font-weight: normal;
				font-style: normal;
				text-align: left;
				color: #171725;
				margin-top: 10px;

				@media(max-width:1700px) {
					font-size: 18px;
				}

				@media(max-width:575px) {
					font-size: 14px;
				}
			}

			.pro-single-btn {
				margin-top: 15px;
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.quantity {
					position: relative;
					width: 120px;
					margin-left: auto;
					margin-bottom: 15px;


					@media(max-width:450px) {
						margin-bottom: 10px;
					}
				}

				.quantity input {
					height: 40px;
					width: 120px;
					text-align: center;
					border: 1px solid #333;

					&:focus {
						outline: none;
					}

					@media(max-width:768px) {
						height: 40px;
						margin-top: 0;
					}
				}

				.qtybutton {
					width: 40px;
					min-width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					border-right: 1px solid $border-color;
					position: absolute;
					border-radius: 0;
					left: 0;
					top: 0;
					cursor: pointer;

					&.inc {
						left: auto;
						right: 0;
						border-left: 1px solid $border-color;
					}
				}
			}

			.cart-btn {
				display: block;
				padding: 8px 20px;
				background: $theme-primary-color;
				text-align: center;
				color: $white;
				width: 301px;
				filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
				border-radius: 2px;
				margin-left: auto;

				@media(max-width:767px) {
					width: 200px;
				}
			}
		}
	}
}

// doc-details

.doc-details {

	.nav-tabs {
		padding: 8px 13px;
		background: #E8E8E8;
		justify-content: space-between;

		@media(max-width:575px) {
			justify-content: center;
		}

		li {
			a {
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				text-align: left;
				color: #131523;
				cursor: pointer;
				border-radius: 0;
				border: 0;
				padding: 3px 25px;

				@media(max-width:1600px) {
					padding: 5px 20px;
				}

				&.active {
					background: $theme-primary-color;
					color: $white;
				}
			}
		}
	}

	.table-wrap {
		max-height: 285px;

		@media(max-width:1440px) {
			max-height: 285px;
		}

		@media(max-width:575px) {
			min-width: 500px;
		}
	}

	table {
		width: 100%;

		tr {
			margin-bottom: 10px;
		}

		td {
			padding: 10px 0;

			&:first-child {
				width: 55%;
			}

			.info {
				display: flex;
				align-items: center;

				i {
					width: 40px;
					height: 40px;
					line-height: 40px;
					border-radius: 4px;
					background: #e8e8e8;
					display: block;
					text-align: center;
					color: $theme-primary-color;
					margin-right: 12px;
				}


				.text {
					h4 {
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						text-align: left;
						color: #000000;
						margin-bottom: 0;
					}
				}
			}

			&.date {
				b {
					font-size: 14px;
					font-weight: normal;
					line-height: 21px;
					font-style: normal;
					text-align: left;
					color: #000000;
					display: block;
				}

				span {
					font-size: 14px;
					font-weight: normal;
					line-height: 21px;
					font-style: normal;
					text-align: left;
					color: #98a9bc;
				}
			}


			&.download-btn {
				text-align: center;

				button {
					background: none;
					border: 0;
					color: $theme-primary-color;
				}
			}
		}
	}
}

// details-wrap

.details-wrap {
	padding-top: 15px;
	max-height: 300px;

	p {
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: #171725;
		line-height: 21px;
		margin-bottom: 8px;
	}

	ul {
		li {
			font-size: 17px;
			font-weight: normal;
			font-style: normal;
			text-align: left;
			color: #171725;
			line-height: 21px;
		}
	}

}


// order-details

.order-details {
	min-height: 310px;

	.top-title {
		position: relative;
	}

	.table-wrap {
		min-width: 800px;
	}

	.open-order {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0;
		top: 0;

		@media(max-width:400px) {
			position: relative;
		}

		h4 {
			font-size: 16px;
			font-weight: normal;
			line-height: 24px;
			font-style: normal;
			color: #000000;
			margin-right: 10px;
		}

		.center {
			width: 48px;
			height: auto;
		}

		input[type="checkbox"] {
			position: relative;
			width: 100%;
			background: gainsboro;
			-webkit-appearance: none;
			height: 24px;
			background: #efefef;
			outline: none;
			border-radius: 30px;
			box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
			transition: 0.5s;
		}

		input[type="checkbox"]:checked {
			background: #00ceff;
		}

		input[type="checkbox"]:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			left: -2px;
			background: #fff;
			box-shadow: 0px 1px 6px 1px gainsboro;
			border-radius: 50%;
			top: 2px;
			transform: scale(1.1);
			transition: 0.5s;
		}

		input[type="checkbox"]:checked:before {
			left: 25px;
		}
	}

	h2 {
		font-size: 30px;
		font-weight: bold;
		font-style: normal;
		text-align: left;
		color: #171725;
	}

	table {
		width: 100%;

		tr {
			margin-bottom: 10px;
		}

		td {
			padding: 15px 0;
			width: 15%;

			&:first-child {
				width: 20%;
			}

			&.action-btn {
				display: flex;
				align-items: center;

				span {
					display: block;
					padding: 5px 15px;
					border-radius: 5px;
					background: rgb(38, 55, 76, 0.40);
					margin-right: 20px;
					color: $white;
					padding-left: 30px;
					position: relative;
					font-size: 14px;

					&::before {
						position: absolute;
						left: 10px;
						top: 50%;
						transform: translateY(-50%);
						width: 10px;
						height: 10px;
						background: $theme-primary-color;
						border-radius: 50%;
						content: "";
					}

					&.complete {
						&::before {
							background: #6DD230;
						}
					}
				}

				button {
					background: none;
					border: 0;
					color: #a8afb7;

					&:hover {
						color: $theme-primary-color;
					}
				}
			}

		}
	}

}