.product-area .product-item .product-img img {
  max-width: 100%;
  height: 105px;
  object-fit: contain;
  margin-bottom: 6px;
  padding: 0 5px;
  border-radius: 8px;
}
.product-details .product-details-bottom .product-details-img {
  position: relative;
  height: 295px;
  width: 285px;
  overflow: hidden;
}
.order-product-details-img {
  padding-right: 15px;
}
.order-product-details-img img {
  height: 290px;
  width: 100%;
  object-fit: cover;
}
.order-prd-list {
  margin-bottom: 20px;
}
.productImage img {
  height: 110px;
  width: 150px;
  object-fit: cover;
  padding-right: 20px;
}
.leftProductDetails {
  display: flex;
  align-items: center;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderInfos {
  display: flex;
  flex-direction: column;
}
.orderSummary {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.orderDetailsSum {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
}
.summaryBox {
  display: flex;
}
.summaryBox h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.summaryContentDiv {
  padding-left: 15px;
}
.summaryBox span {
  font-size: 12px;
  font-weight: 400;
}
.summaryBox p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}
span.sumPrice {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.priceBoxSum {
  padding-top: 20px;
}
.grandTotal {
  margin-bottom: 0px;
}
.SubTotal {
  display: flex;
  justify-content: space-between;
}
.grandTotal {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: black;
}
.orderButton .cart-btn {
  display: block;
  padding: 8px 20px;
  background: #3693d9;
  text-align: center;
  color: #fff;
  width: 100%;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  margin-left: auto;
  margin-top: 20px;
}
.cart-btn {
  cursor: pointer !important;
}
.cart-btn:hover {
  background: black !important;
}
.orderInfos h3 {
  font-size: 20px !important;
}
.popup-content {
  width: 70% !important;
  border-radius: 10px;
}
.product-area {
  position: relative;
}
a.close {
  position: absolute;
  top: 10px;
  right: 26px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  background: #333333;
  border-radius: 50px;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
}
.order-details {
  min-height: 310px;
  max-height: 85dvh;
  height: 85dvh;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* Cart Sidebar */

.mini-cart .cart-count {
  background: #f14f0e;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 17px;
  color: white;
  position: absolute;
  top: -2px;
  right: -5px;
  border-radius: 50%;
  font-weight: 400;
}

.mini-cart-content {
  background: #000000;
  width: 400px;
  height: 100vh;
  min-height: 450px;
  z-index: 100;
  position: fixed;
  right: -400px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: -2px 10px 15px -9px rgb(153, 153, 153);
}
@media (max-width: 575px) {
  .mini-cart-content {
    width: 300px;
  }
}
.mini-cart-content .title {
  margin-top: 30px;
  padding-left: 20px;
}
.mini-cart-content .title h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.mini-cart-content .mini-cart-close {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 0px;
  text-align: center;
  overflow: hidden;
  position: relative;
  float: right;
  line-height: 54px;
  border-radius: 3px;
  right: 10px;
  top: 5px;
  border: none;
}

.mini-cart-content .mini-cart-close i {
  font-size: 15px;
}
.mini-cart-content .mini-cart-items {
  padding: 30px 20px 25px;
  height: 100% !important;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 300px);
}
.mini-cart-content .mini-cart-items p.top-p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 30px;
  color: #fff;
}
.mini-cart-content .mini-cart-items::-webkit-scrollbar {
  width: 6px;
  display: none;
}
.mini-cart-content .mini-cart-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.mini-cart-content .mini-cart-item:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
.mini-cart-content .mini-cart-item-image {
  width: 105px;
  border: 0;
  float: left;
  margin-right: 15px;
}
.mini-cart-content .mini-cart-item-des {
  position: relative;
  overflow: hidden;
}
.mini-cart-content .mini-cart-item-des h4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
}
.mini-cart-content .mini-cart-item-des h4 a {
  color: #fff;
}
.mini-cart-content .mini-cart-item-des p {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: capitalize;
  color: #e9e9e9;
}
.mini-cart-content .mini-cart-item-des ul {
  display: flex;
  margin: 10px 0;
}
.mini-cart-content .mini-cart-item-des ul li {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #e9e9e9;
}
.mini-cart-content .mini-cart-item-des h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
}
.mini-cart-content .mini-cart-item-des .dlt-btn {
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}
.mini-cart-content .mini-cart-item-des .dlt-btn:hover {
  color: #fff;
}
.mini-cart-content .pro-single-btn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .mini-cart-content .pro-single-btn {
    display: block;
  }
}
.mini-cart-content .pro-single-btn .price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
}
.mini-cart-content .pro-single-btn .quantity {
  margin-right: 10px;
  top: 0;
  position: relative;
  display: inline-block;
}
@media (max-width: 575px) {
  .mini-cart-content .pro-single-btn .quantity {
    margin-right: 20px;
  }
}
.mini-cart-content .pro-single-btn .quantity input {
  width: 100px;
  background: transparent;
  padding: 5px 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: none;
  position: relative;
  border: 1.5px solid #333;
  color: #fff;
}
@media (max-width: 575px) {
  .mini-cart-content .pro-single-btn .quantity input {
    margin-bottom: 10px;
  }
}
.mini-cart-content .pro-single-btn .quantity .qtybutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 30px;
  text-align: center;
  line-height: 33px;
  font-size: 18px;
  cursor: pointer;
  font-size: 25px;
  border: 1.5px solid #333;
}
.mini-cart-content .pro-single-btn .quantity .qtybutton.inc {
  right: 0px;
  left: auto;
}
.mini-cart-content .pro-single-btn .w-btn {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}
.mini-cart-content .pro-single-btn .w-btn:hover {
  background: #fff;
  color: #fff;
}
.mini-cart-content .pro-single-btn .w-btn i {
  margin-right: 5px;
}
.mini-cart-content .mini-cart-action {
  padding: 20px 0 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  background: #000000;
  padding: 40px;
}
.mini-cart-content .mini-cart-action .theme-btn-s2 {
  float: right;
}
.mini-cart-content .mini-cart-action .mini-btn {
  width: 100%;
}
.mini-cart-content .mini-cart-action p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}
.mini-cart-content .mini-cart-action ul {
  display: flex;
  justify-content: space-between;
}
.mini-cart-content .mini-cart-action ul li {
  font-size: 16px;
  color: #fff;
  list-style: none;
}
.mini-cart-content .mini-cart-action ul li strong {
  color: #fff;
}
.mini-cart-content .mini-cart-action .mini-checkout-price {
  font-size: 16px;
  font-size: 1.0666666667rem;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-cart-content .mini-cart-action .mini-checkout-price span {
  color: #c79652;
  font-size: 20px;
}

.mini-cart-content-toggle,
.mini-wislist-content-toggle {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.view-cart-btn {
  display: block;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 45px;
  background: #f14f0e;
  text-transform: uppercase;
  border-color: transparent;
}
.theme-btn,
.view-cart-btn,
.theme-btn-s2,
.theme-btn-s3 {
  background: #3693d9;
  color: #fff;
  display: inline-block;
  padding: 15px 70px;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 0px solid #fff;
  transition: all 0.3s ease-out 0s;
  position: relative;
  width: 100%;
}
.mini-cart-item-image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 3px;
}
.product-area.info-product-area {
  border: none;
  padding: 0;
  height: 100dvh;
}
.no-product-found {
  width: 100%;
  text-align: center;
}
/* For the sidebar all proudct submenu */

ul.submenu {
  background: #323232;
  padding: 10px 0px;
  list-style: none;
  border-radius: 0px 0px 2px 2px;
}
ul.submenu li {
  padding-left: 10px !important;
}
ul.submenu li a::before {
  top: 20px !important;
}
ul.submenu li a {
  line-height: 23px;
}
.sidebar .sidebar-scrool .product-menu a {
  border-radius: 2px 2px 0px 0px;
}
ul.submenu a:hover:before {
  opacity: 0 !important;
  visibility: visible;
}
ul.submenu li:hover a {
  color: #3693d9 !important;
}
.product-menu a.active::before {
  content: "\f0d7" !important;
  position: absolute;
}
.product-wrap.accountProfile {
  padding: 10px 20px;
  min-height: 80vh;
}
.accountProfile label,
.col-12.phoneInput label {
  font-size: 14px;
  color: #4d4c4c;
}
.accountProfile input,
.accountProfile select {
  border-radius: 50px;
  margin: 10px 0px;
  padding: 10px;
  padding-left: 20px;
  border: 2px solid #e1e1e1;
  height: 45px;
}
.col-12.phoneInput input {
  width: 100%;
  border-radius: 0px 50px 50px 0px;
  padding: 10px;
  border: 2px solid #e1e1e1;
  height: 45px;
  padding-left: 50px;
  margin: 10px 0px;
}
.react-tel-input {
  margin: 10px 0px;
}
.col-12.profileButton {
  text-align: center;
  padding: 40px 0px;
}
.accountProfile button {
  padding: 10px 35px;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  background: #3493d6;
  color: #fff;
  border: none;
  font-weight: 900;
  font-size: 20px;
}
.accountProfile button:hover {
  background: #000;
}
.subMenu .activeMenu {
  color: #000000 !important;
  font-weight: 900 !important;
}
.mini-cart-item.clearfix.notification {
  margin-bottom: 0;
}
